python-telegram-bot==20.8
opencv-python==4.10.0
numpy==1.26.4
pillow==10.4.0
pytesseract==0.3.13
tensorflow==2.18.0
matplotlib==3.9.2
requests==2.32.3
pygithub==2.5.0
sqlalchemy==2.0.35
scikit-learn==1.5.2
deep-translator==1.11.4